.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #e6eaf5;
}

.nav-logo-card {
    display: flex;
    align-items: center;
}

.nav-bar-website {
    font-size: 25px;
    font-family: Roboto;
    font-weight: bold;
    color: #025beb;
    margin: 0 10px;
}

.nav-bar-logo {
    width: 50px;
}

.nav-bar-link-card {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
}

.nav-bar-link-item {
    margin: 0 0 0 30px;
}

.nav-bar-link {
    color: #262626;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    text-decoration: none;
}

.active {
    color: #1953ff;
}