.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #e6eaf5;
}

.nav-logo-card {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #262626;
}

.nav-bar-website {
    font-size: 25px;
    font-family: Roboto;
    font-weight: bold;
    color: #025beb;
    margin: 0 10px;
}

.nav-bar-logo {
    width: 50px;
}

.nav-bar-link-card-sm {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    background-color: #e6eaf5;

}

.nav-bar-active {
    display: flex;
}

.nav-bar-link-card-lg {
    display: none;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
}

.nav-bar-link-item {
    margin: 0 0 0 30px;
}

.nav-bar-link {
    color: #262626;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    text-decoration: none;
}

.nav-bar-link:hover {
    color: #1953ff;
}

@media screen and (min-width: 768px) {
    .nav-bar-link-card-sm {
        display: none;
    }

    .nav-bar-link-card-lg {
        display: flex;
    }

    .menu-button {
        display: none;
    }
}